<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <meta name="description" content="This is an informational site introducing the new Karsh Alumni and Visitors Center at Duke University.">
  <meta name="theme-color" content="#0680cd"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="shortcut icon" type="image/png" href="https://alumni.duke.edu/sites/all/themes/duke/favicon.ico">
  <link rel="stylesheet" href="src/css/main.css">
  <link rel="stylesheet" href="src/css/mobile.css">
  <link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800|Roboto+Slab:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

  <title>Karsh Alumni and Visitors Center</title>

</head>

<body>
  <header>
      <!-- <h1><a href="/"></a></h1> -->
      <nav id="main-nav" class="nav" aria-label="Main Navigation" role="navigation">
        <div id="logo"><a href="#sec1" title="top of page">
          Karsh Alumni and Visitors Center &nbsp;| &nbsp;<img src="src/images/dukealumni_white.png" alt="duke alumni logo"/></a>
        </div>
        <ul>
          <!-- TODO: reactivate when we get the link from SkyNav -->
          <!-- <li><a class="nav-item link" href="#">Virtual Tour</a></li> -->
          <li><a class="nav-item link" href="#footer">Visit Us</a></li>
          <li><a class="nav-item link" href="#todo">Things to do</a></li>
          <li><a class="nav-item link" href="#sec4">fun facts</a></li>
          <li><a class="nav-item link" href="#timeline">Timeline</a></li>
          <li><a class="nav-item link" href="#social">#hellokarsh</a></li>
      </ul>
      </nav>
  </header>

  <!-- <main id="main-content" ng-app="madlib" ng-controller="countController" role="main"> -->
    <section class="blocks" id="sec1" style="background: url(src/images/karsh.jpg) 0 0 repeat;">
      <section id="countdown-container">
      <div class='title'>
        <span>KARSH GRAND OPENING</span>
      </div>
      <p>September 28, 2019 1-4pm</p>
      <section>
        <ul id="countdown">
          <li><span class="days timenumbers">01</span>
            <p class="timeRefDays timedescription">days</p>
          </li>
          <li><span class="hours timenumbers">00</span>
            <p class="timeRefHours timedescription">hours</p>
          </li>
          <li><span class="minutes timenumbers">00</span>
            <p class="timeRefMinutes timedescription">minutes</p>
          </li>
          <li><span class="seconds timenumbers yellow-text">00</span>
            <p class="timeRefSeconds timedescription">seconds</p>
          </li>
        </ul>
      </section>
    </section>


      <div id="section-arrow">
        <p>Come inside & explore!</p>
        <a href="#sec2">  <!-- Link to your content ID -->
        <div id="arrow-down">
          <i class="fa fa-angle-down"></i>
        </div>
      </a>
    </div>
    </section>

    <section class="blocks" id="sec2">
      <section class="sec-container">
          <h2>KARSH ALUMNI AND VISITOR Center</h2>
          <h3>WELCOME HOME, BLUE DEVILS!</h3>
          <div class="intro-copy">
            <p>Never before have Duke alumni had a place to call their own on campus. Now it’s here—the new Karsh Alumni and Visitors Center. Located at the gateway of campus, at the corner of Chapel Drive and Duke University Road, the new center is the first stop for alumni like you returning to campus. Start your journey here. Get tips for planning your day. Relax with old and new friends in our lobby. Reconnect with the Duke of your past and the Duke of today.</p>
            <p>This is your Duke “living room,” and we’re excited to welcome you home.</p>
          </div>
        <!-- TODO: reactivate this button when we get the link from SkyNav -->
          <!-- <div class="button">
            <a class="vt-button" href="" title="visit virtual tour">VIRTUAL TOUR</a>
          </div> -->
      </section>
    </section>

    <section class="blocks" id="todo">
      <section class="sec-container">
          <h2>9 THINGS TO DO AT KARSH</h2>
          <h3>What’s an Alumni Center Good for, Anyway?</h3>

    <div class="container">
      <ol class="step-list">
          <li class="step-list__item">
              <div class="step-list__item__inner">
                  <div class="content">
                      <div class="body">
                          <h4>Plan your day</h4>
                          <p>Your first stop on campus! Start at the front desk to plan your day and get tips on where to go and what to see.</p>
                      </div>

                      <div class="icon">
                          <img src="src/images/plan.gif" alt="video of karsh quad aerial view" />
                      </div>
                  </div>
              </div>
          </li>
          <li class="step-list__item">
              <div class="step-list__item__inner">
                  <div class="content">
                      <div class="body">
                          <h4>Hang out</h4>
                          <p>Meet up with old friends (and make some new ones).</p>
                      </div>

                      <div class="icon">
                          <img src="src/images/hangout.jpg" alt="photo of people sitting" />
                      </div>
                  </div>
              </div>
          </li>
          <li class="step-list__item">
              <div class="step-list__item__inner">
                  <div class="content">
                      <div class="body">
                          <h4>Grab a Snack</h4>
                          <p>Visit the Roth Family Market (Coming soon in mid-September!)</p>
                      </div>

                      <div class="icon">
                          <img src="src/images/events-cafe.jpg" alt="rendering photo of the market" />
                      </div>
                  </div>
              </div>
          </li>
          <li class="step-list__item">
              <div class="step-list__item__inner">
                  <div class="content">
                      <div class="body">
                          <h4>Learn new things</h4>
                          <p>Learn something new about Duke history, notable alumni and campus happenings on our touch-screen digital wall.</p>
                      </div>

                      <div class="icon">
                          <img src="src/images/learn.JPG" alt="wide view of the tech wall" />
                      </div>
                  </div>
              </div>
          </li>
          <li class="step-list__item">
              <div class="step-list__item__inner">
                  <div class="content">
                      <div class="body">
                          <h4>reunions central</h4>
                          <p>Beginning in 2020, Reunions Weekend for all undergraduate alumni will be hosted at the center.</p>
                      </div>

                      <div class="icon">
                          <img src="src/images/people.jpg" alt="photo of a bunch of people in the main event space" />
                      </div>
                  </div>
              </div>
          </li>
          <li class="step-list__item">
              <div class="step-list__item__inner">
                  <div class="content">
                      <div class="body">
                          <h4>Stretch out</h4>
                          <p>Break up a day of walking around campus by relaxing on one of the comfy couches or chairs in the atrium. This is your Duke living room, after all.</p>
                      </div>

                      <div class="icon">
                          <img src="src/images/couches.jpg" alt="photo of the main event space with couches" />
                      </div>
                  </div>
              </div>
          </li>
          <li class="step-list__item">
              <div class="step-list__item__inner">
                  <div class="content">
                      <div class="body">
                          <h4>Visit the library</h4>
                          <p>See books written by alumni and find your photo in an old Chanticleer yearbook in the Howard Family Library, located in Forlines House.</p>
                      </div>

                      <div class="icon">
                          <img src="src/images/library.jpg" alt="photo of the library" />
                      </div>
                  </div>
              </div>
          </li>
          <li class="step-list__item">
              <div class="step-list__item__inner">
                  <div class="content">
                      <div class="body">
                          <h4>People-watch</h4>
                          <p>You never know who will drop by, maybe even a few famous Blue Devils!</p>
                      </div>

                      <div class="icon">
                          <img src="src/images/peoplewatch.jpg" alt="photo of the Blue Devil standing outside" />
                      </div>
                  </div>
              </div>
          </li>
          <li class="step-list__item">
              <div class="step-list__item__inner">
                  <div class="content">
                      <div class="body">
                          <h4>Go outside</h4>
                          <p>Explore the center’s outdoor spaces: Cartwheeling in the quad or walking through the arcades? It’s up to you!</p>
                      </div>

                      <div class="icon">
                          <img src="src/images/outside.gif" alt="Check" />
                      </div>
                  </div>
              </div>
          </li>
      </ol>
  </div>


    </section>
    </section>

    <section class="blocks" id="sec4">
      <section class="sec-container">
        <h2>DID YOU KNOW?</h2>
        <section id="trivia">
        <div class="row-1">

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
             <div class="front" style="background: url(src/images/outside_arch.jpg) 0 0 no-repeat;">
               <div class="overlay"></div>
              <!-- front content -->
                <div class="box">
                  <img src="src/images/tree.png" alt="icon of a tree"/>
                </div>
              </div>
              <div class="back" style="">
              <!-- back content -->
              <p>The outdoor arcades are made from reclaimed wood from Duke Forest.</p>
              </div>
            </div>
          </div>

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
             <div class="front" style="background: url(src/images/wall.jpg) 0 0 no-repeat;">
               <div class="overlay"></div>
              <!-- front content -->
                <div class="box">
                  What is "the wall?"
                </div>
              </div>
              <div class="back" style="background:">
              <!-- back content -->
              <p>Located within our technology hall, the 8-foot digital wall allows visitors to learn about campus happenings, Duke history, who else is on campus and more.</p>
              </div>
            </div>
          </div>

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
             <div class="front" style="background: url(src/images/stone.jpg) 0 0 no-repeat;">
               <div class="overlay"></div>
              <!-- front content -->
                <div class="box">
                  <img src="src/images/fire.png" alt="icon of fire"/>
                </div>
              </div>
              <div class="back" style="background:">
              <!-- back content -->
              <p>The fireplace in the Moyle Boardroom is made of Duke stone, a signature feature of many buildings on campus including the Duke Chapel.</p>
              </div>
            </div>
          </div>

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
             <div class="front" style="background: url(src/images/forlines.jpg) 0 0 no-repeat;">
               <div class="overlay"></div>
              <!-- front content -->
                <div class="box">
                  Who designed the historic home now known as the Forlines House?
                </div>
              </div>
              <div class="back" style="background:">
              <!-- back content -->
              <p>Julian Abele, a prominent African-American architect and chief designer of West Campus. Many of the finishes in the renovated building include original wood floors, fireplaces and moldings.</p>
              </div>
            </div>
          </div>

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
             <div class="front" style="background: url(src/images/flowers.jpg) 0 0 no-repeat;">
               <div class="overlay"></div>
              <!-- front content -->
                <div class="box">
                  <img src="src/images/watering-can.png" alt="icon of a watering can"/>
                </div>
              </div>
              <div class="back" style="background:">
              <!-- back content -->
              <p>Plants and flowers from the Sarah P. Duke Gardens are a key feature of the center's landscaping.</p>
              </div>
            </div>
          </div>

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
             <div class="front" style="background: url(src/images/books.jpg) 0 0 no-repeat;">
               <div class="overlay"></div>
              <!-- front content -->
                <div class="box">
                  When was the Duke yearbook, the Chanticleer, first published?
                </div>
              </div>
              <div class="back">
              <!-- back content -->
              <p>1912. The full collection is on display in the new Howard Family Library, located in Forlines House. Also see a collection of books written by alumni while you're there.</p>
              </div>
            </div>
          </div>

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
             <div class="front" style="background: url(src/images/panel.jpg) 0 0 no-repeat;">
               <div class="overlay"></div>
              <!-- front content -->
                <div class="box">
                  <img src="src/images/musical-note.png" alt="icon of a music note"/>
                </div>
              </div>
              <div class="back" style="">
              <!-- back content -->
              <p>These acoustic panels, along with many other details throughout the center, are inspired by the Gothic architecture of campus.</p>
              </div>
            </div>
          </div>

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
             <div class="front" style="background: url(src/images/quad.jpg) 0 0 no-repeat;">
               <div class="overlay"></div>
              <!-- front content -->
                <div class="box">
                  Déjà vu?
                </div>
              </div>
              <div class="back" style="">
              <!-- back content -->
              <p>The grassy, outdoor quad located in the center of the alumni center complex is designed to mimic Duke’s West campus quad.</p>
              </div>
            </div>
          </div>

          </div>
        </section>
      </section>
    </section>

    <section class="blocks" id="timeline">
    <section class="sec-container">
      <h2>TIMELINE</h2>
      <div class="timeline-graph">

        <div class="history-tl-container">
          <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                1858
              </div>
              <div class="item-title">The Start of it All</div>
              <div class="item-detail">The alumni association of "Normal College," a predecessor of Trinity College and later Duke University, is established with 41 registered alumni.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                1891
              </div>
              <div class="item-title">Alumni Input</div>
              <div class="item-detail">Trinity College sets its course with a new charter that requires one-third of the Board of Trustees to be alumni.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                1915
              </div>
              <div class="item-title">Staying in Touch</div>
              <div class="item-detail">The Trinity Alumni Register debuts — a quarterly booklet for alumni that includes campus news, an alumni directory and letters and articles contributed by alumni.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                XXXX
              </div>
              <div class="item-title">New Headquarters</div>
              <div class="item-detail">The Duke Alumni Association is established and sets up its headquarters in the former West Union, now the Brodhead Center, on West Campus. </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                XXXX
              </div>
              <div class="item-title">Entry to Campus</div>
              <div class="item-detail">The Duke Alumni Association relocates from Duke's former West Union (now the Brodhead Center) to 614 Chapel Drive at the entrance of campus. The building later is named the “Forlines House” in honor of John Forlines '39, former university trustee and DAA Board president.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2016
              </div>
              <div class="item-title">Connecting Alumni</div>
              <div class="item-detail">The Duke Alumni Association launches a virtual alumni directory (alumni.duke.edu) to keep alumni connected to each other, find events and stay engaged with Duke.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2016
              </div>
              <div class="item-title">A Game-Changing Tour</div>
              <div class="item-detail">On a trip to Stanford with the Duke Board of Trustees, philanthropist and former board chairman David Rubenstein '70 sees the Stanford alumni center and says, “This is what Duke needs!" The idea for the Duke alumni and visitors center is born.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
              2017
              </div>
              <div class="item-title">Breaking Ground</div>
              <div class="item-detail">The new alumni and visitors center starts to take shape across the street from the old one. It is named in recognition of a lead gift by Martha L. Karsh in honor of her husband Bruce A. Karsh ’77, recipient of the 2016 University Medal.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2018
              </div>
              <div class="item-title">Gothic Inspiration</div>
              <div class="item-detail">The center exteriors and interiors are designed with a “distinctly Duke” theme in mind, blending original and modern elements as a testament to the university’s rich history and its promising future forward.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
               2019
              </div>
              <div class="item-title">Welcome Home</div>
              <div class="item-detail">The new Karsh Alumni and Visitors Center opens to the public with a grand opening celebration on Founders’ Weekend, Sept. 26-28.</div>
            </li>
          </ul>
        </div>


      </div>
      <div id="timelapse-video">
        <iframe width="420" height="250" src="https://www.youtube.com/embed/tYfjm6wK4Jw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </section>
</section>

  <!-- </main> -->

  <section class="blocks" id="social">
    <section class="sec-container">
      <h2>#HelloKarsh</h2>
      <h3>Use #HelloKarsh & #ForeverDuke to be featured below!</h3>
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-3f16893e-90a1-439d-a636-23f3f6ed4ba2"></div>

    </section>
  </section>

  <footer id="footer">
    <section class="footer-links">
      <div class="footer-links-inner">
        <div class="left">
          <img width="125" class="footer-logo" alt="Duke Alumni logo" src="src/images/logo_footer.png">
        </div>
        <div class="right" aria-label="Karsh footer directory" role="navigation">
          <accordion class="footer-menu mb-section">
            <h4>VISIT US</h4>
              <span class="footer-info">Karsh Alumni and Visitors Center<br>
              2080 Duke University Road<br>
            Durham, NC 27708<br><br>
            Hours<br>
            Monday - Friday: 8am - 8pm<br>
            Saturday: 9am - 5pm<br>
            Sunday: 12pm - 5pm
          </span>
          </accordion>

          <accordion class="footer-menu mb-section">
            <h4>CONTACT US</h4>
              <span class="footer-info">(919) 684-5114<br>
              help@daa.duke.edu<br><br>
              <a href="https://alumni.duke.edu/" title>Duke Alumni Association</a><br>
              <a href="https://alumni.duke.edu/magazine">Duke Magazine</a>
            </span>
          </accordion>

          <accordion class="footer-menu mb-section">
            <h4>CONNECT WITH US</h4>
            <div class="footer-info">
            <div class="social">
            <a href="https://www.instagram.com/dukealumni/" target="_blank">
                <i class="fa fa-instagram fa-2x"></i>
                <span class="element-invisible">Instagram</span>
              </a>
              <a href="https://twitter.com/dukealumni" target="_blank">
                <i class="fa fa-twitter-square fa-2x"></i>
                <span class="element-invisible">Twitter</span>
              </a>
              <a href="https://www.facebook.com/dukealumni" target="_blank">
                <i class="fa fa-facebook-square fa-2x"></i>
                <span class="element-invisible">Facebook</span>
              </a>
              <a href="https://www.linkedin.com/company/duke-alumni-association/" target="_blank">
                <i class="fa fa-linkedin-square fa-2x"></i>
                <span class="element-invisible">LinkedIn</span>
              </a>
            </div>
              <span>Follow us & use <strong>#HelloKarsh</strong><br> to share your visit with us!</span>
            </div>
          </accordion>

        </div>
      </div>
    </section>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="src/js/main.js"></script>

  </body>
</html>
