<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <meta name="description" content="">
  <meta name="theme-color" content="#0680cd"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="shortcut icon" type="image/png" href="">
  <link rel="stylesheet" href="src/css/main.css">
  <link rel="stylesheet" href="src/css/mobile.css">
  <link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800|Roboto+Slab:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

  <title>Karsh Alumni and Visitors Center</title>

</head>

<body>
  <header>
      <!-- <h1><a href="/"></a></h1> -->
      <nav id="main-nav" class="nav" aria-label="Main Navigation" role="navigation">
        <div id="logo"><a href="#sec1" title="top of page">
          Karsh Alumni and Visitors Center &nbsp;| &nbsp;<img src="src/images/dukealumni_white.png" alt="duke alumni logo"/></a>
        </div>
        <ul>
          <li><a class="nav-item link" href="#footer">General Information</a></li>
          <li><a class="nav-item link" href="#">Virutal Tour</a></li>
          <li><a class="nav-item link" href="#sec3">Things to do</a></li>
          <li><a class="nav-item link" href="#sec4">fun facts</a></li>
      </ul>
      </nav>
  </header>

  <!-- <main id="main-content" ng-app="madlib" ng-controller="countController" role="main"> -->
    <section class="blocks" id="sec1" style="background: url(src/images/karsh.jpg) 0 0 repeat;">
      <section id="countdown-container">
      <div class='title'>
        <span>KARSH OPEN HOUSE HOMECOMING WEEKEND</span>
      </div>
      <p>coming soon</p>
      <section>
        <ul id="countdown">
          <li><span class="days timenumbers">01</span>
            <p class="timeRefDays timedescription">days</p>
          </li>
          <li><span class="hours timenumbers">00</span>
            <p class="timeRefHours timedescription">hours</p>
          </li>
          <li><span class="minutes timenumbers">00</span>
            <p class="timeRefMinutes timedescription">minutes</p>
          </li>
          <li><span class="seconds timenumbers yellow-text">00</span>
            <p class="timeRefSeconds timedescription">seconds</p>
          </li>
        </ul>
      </section>
    </section>


      <div id="section-arrow">
        <p>Come inside & explore!</p>
        <a href="#sec2">  <!-- Link to your content ID -->
        <div id="arrow-down">
          <i class="fa fa-angle-down"></i>
        </div>
      </a>
    </div>
    </section>

    <section class="blocks" id="sec2">
      <section class="sec-container">
          <h2>KARSH ALUMNI AND VISITOR Center</h2>
          <h3>WELCOME HOME, BLUE DEVILS!</h3>
          <div class="intro-copy">
            <p>Never before have Duke alumni had a place to call their own on campus. Now it’s here—the new Karsh Alumni and Visitors Center. Located at the gateway of campus, at the corner of Chapel Drive and Duke University Road, the new center is the first stop for alumni like you returning to campus. Start your journey here. Get tips for planning your day. Relax with old and new friends in our lobby. Reconnect with the Duke of your past and the Duke of today.</p>
            <p>This is your Duke “living room,” and we’re excited to welcome you home.</p>
          </div>
          <div class="button">
            <a class="vt-button" href="" title="visit virtual tour">VIRTUAL TOUR</a>
          </div>
      </section>
    </section>

    <section class="blocks" id="sec3">
      <section class="sec-container">
        <div class="half-box">
          <h2>THINGS TO DO AT KARSH</h2>
          <h3>What’s an Alumni Center Good for, Anyway?</h3>
          <div class="to-do">
            <p>Your first stop on campus! Start at the front desk to plan your day and get tips on where to go and what to see.</p>
            <p>Meet up with old friends (and make some new ones).</p>
            <p>Get a snack from the Roth Family Market.</p>
            <p>Learn something new about Duke history on the touch-screen digital wall.</p>
            <p>Come back for your undergraduate class reunion.</p>
            <p>Break up a day of walking around campus by relaxing on one of the comfy couches or chairs in the atrium. This is your Duke living room, after all.</p>
            <p>Spot the Blue Devil and get a memorable photo op.</p>
            <p>Find your photo in an old Chanticleer yearbook (in the alumni library in Forlines House).</p>
            <p>People-watch, with an eye for spotting famous fellow Blue Devils.</p>
            <p>Stretch out in the center’s outdoor spaces: Cartwheeling in the quad or walking through the sculpture garden? It’s up to you!</p>
          </div>
        </div>

        <div class="half-box" id="timeline">
          <h2>TIMELINE</h2>
          <div class="timeline-graph">

            <div class="history-tl-container">
              <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    2009
                  </div>
                  <div class="item-title">The First Home for Alumni Affairs</div>
                  <div class="item-detail">In 2009, the Office of Alumni Affairs, then located at 614 Chapel Drive and across from the new Karsh Alumni and Visitors Center, was named the “Forlines House” in honor of John Forlines '39, former university trustee and DAA president. Alumni Affairs staff worked in the original Forlines House up until 2016, when they relocated for maintenance of the building and later to prepare for the construction of the new alumni center.</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    2016
                  </div>
                  <div class="item-title">A Visit to Stanford</div>
                  <div class="item-detail">On a trip to Stanford with the Duke Board of Trustees, philanthropist and former board chairman David Rubenstein '70 saw the Stanford alumni center from the touring bus the trustees contingent was on and immediately asked the bus to stop. “Now this is what Duke needs!” he said, so the story goes, and the idea for the Duke alumni center was born.</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    2017
                  </div>
                  <div class="item-title">Donors Rally</div>
                  <div class="item-detail">The first gift is made to the Duke alumni center…need details here. Over the course of the next two years, more than a dozen alumni would contribute $X.X million toward the construction of the center. </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                  March 2017
                  </div>
                  <div class="item-title">Ground Breaks</div>
                  <div class="item-detail">The new alumni center starts to take shape at the site at the corner of Duke University Road and Chapel Drive—the gateway to Duke’s iconic campus. Plans for the center include a main public events building with a lobby and a market for snacks and beverages, an Alumni Affairs office building and an administrative building housed in the original, historic faculty home of former Duke dean of Trinity College William H. Wannamaker. The former faculty home later would be renamed “Forlines House,” in honor of John A. Forlines Jr. ’39, who served as Duke Alumni Association president in 1970-71 and whose family provided funding to restore DAA’s previous offices at 614 Chapel Drive as well as the new Forlines House. </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    XXXXX 2018
                  </div>
                  <div class="item-title">Distinctly Duke</div>
                  <div class="item-detail">The center exteriors and interiors are designed with a “distinctly Duke” theme in mind. grassy quad in the middle of the center mimics the quad of West campus. A nod to Duke’s gothic architecture can be found in subtle places throughout the center. Reclaimed wood from Duke forest was used throughout the building.</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                   September 2019
                  </div>
                  <div class="item-title">Welcome Home</div>
                  <div class="item-detail">The new Karsh Alumni and Visitors Center opens to the public with a grand opening celebration on Founders’ Weekend, Sept. 26-28.</div>
                </li>
              </ul>
            </div>


          </div>
          <div id="timelapse-video">
            <iframe width="420" height="250" src="https://www.youtube.com/embed/tYfjm6wK4Jw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

    </section>
    </section>

    <section class="blocks" id="sec4">
    <section class="sec-container">
      <h2>DID YOU KNOW?</h2>
      <section id="trivia">
      <div class="row-1">

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	      <div class="flipper">
	         <div class="front" style="background: url(src/images/outside_arch.jpg) 0 0 no-repeat;">
             <div class="overlay"></div>
		        <!-- front content -->
              <div class="box">
                <img src="src/images/tree.png" alt="icon of a tree"/>
              </div>
	          </div>
	          <div class="back" style="">
		        <!-- back content -->
            <p>The outdoor arcades are made from reclaimed wood from Duke Forest.</p>
        		</div>
        	</div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
           <div class="front" style="background: url(src/images/wall.jpg) 0 0 no-repeat;">
             <div class="overlay"></div>
            <!-- front content -->
              <div class="box">
                What is "the wall?"
              </div>
            </div>
            <div class="back" style="background:">
            <!-- back content -->
            <p>Located within our technology hall, the 8-foot digital wall allows visitors to learn about campus happenings, Duke history, who else is on campus and more.</p>
            </div>
          </div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	      <div class="flipper">
	         <div class="front" style="background: url(src/images/stone.jpg) 0 0 no-repeat;">
             <div class="overlay"></div>
		        <!-- front content -->
              <div class="box">
                <img src="src/images/fire.png" alt="icon of fire"/>
              </div>
	          </div>
	          <div class="back" style="background:">
		        <!-- back content -->
            <p>The fireplace in the Moyle Boardroom is made of Duke stone, a signature feature of many buildings on campus including the Duke Chapel.</p>
        		</div>
        	</div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
           <div class="front" style="background: url(src/images/forlines.jpg) 0 0 no-repeat;">
             <div class="overlay"></div>
            <!-- front content -->
              <div class="box">
                Who designed the historic home now known as the Forlines House?
              </div>
            </div>
            <div class="back" style="background:">
            <!-- back content -->
            <p>Julian Abele, a prominent African-American architect and chief designer of West Campus. Many of the finishes in the renovated building include original wood floors, fireplaces and moldings.</p>
            </div>
          </div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
           <div class="front" style="background: url(src/images/flowers.jpg) 0 0 no-repeat;">
             <div class="overlay"></div>
            <!-- front content -->
              <div class="box">
                <img src="src/images/lotus-flower.png" alt="icon of a flower"/>
              </div>
            </div>
            <div class="back" style="background:">
            <!-- back content -->
            <p>Plants and flowers from the Sarah P. Duke Gardens are a key feature of the center's landscaping.</p>
            </div>
          </div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
           <div class="front" style="background: url(src/images/books.jpg) 0 0 no-repeat;">
             <div class="overlay"></div>
            <!-- front content -->
              <div class="box">
                It was the Blue Devil with the ____ in the library.
              </div>
            </div>
            <div class="back">
            <!-- back content -->
            <p>It was the Chanticleer! The Howard Family Library, located in the Forlines House, displays old Chanticleers and books written by alumni.</p>
            </div>
          </div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	      <div class="flipper">
	         <div class="front" style="background: url(src/images/panel.jpg) 0 0 no-repeat;">
             <div class="overlay"></div>
		        <!-- front content -->
              <div class="box">
                <img src="src/images/musical-note.png" alt="icon of a music note"/>
              </div>
	          </div>
	          <div class="back" style="">
		        <!-- back content -->
            <p>These acoustic panels, along with many other details throughout the center, are inspired by the Gothic architecture of campus.</p>
        		</div>
        	</div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	      <div class="flipper">
	         <div class="front" style="background: url(src/images/arches.jpg) 0 0 no-repeat;">
             <div class="overlay"></div>
		        <!-- front content -->
              <div class="box">
                Déjà vu?
              </div>
	          </div>
	          <div class="back" style="">
		        <!-- back content -->
            <p>The grassy, outdoor quad located in the center of the alumni center complex is designed to mimic Duke’s West campus quad.</p>
        		</div>
        	</div>
        </div>

        </div>
      </section>
    </section>
  </section>
  <!-- </main> -->

  <section class="blocks" id="social">
    <section class="sec-container">
      <h2>#HelloKarsh</h2>
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-3f16893e-90a1-439d-a636-23f3f6ed4ba2"></div>

    </section>
  </section>

  <footer id="footer">
    <section class="footer-links">
      <div class="footer-links-inner">
        <div class="left">
          <img width="125" class="footer-logo" alt="Duke Alumni logo" src="src/images/logo_footer.png">
        </div>
        <div class="right" aria-label="Karsh footer directory" role="navigation">
          <accordion class="footer-menu mb-section">
            <h4>VISIT US</h4>
              <span class="footer-info">Karsh Alumni and Visitors Center<br>
              2080 Duke University Road<br>
            Durham, NC 27708<br><br>
            Hours<br>
            Monday - Friday: 8am - 8pm<br>
            Saturday: 9am - 5pm<br>
            Sunday: 12pm - 5pm
          </span>
          </accordion>

          <accordion class="footer-menu mb-section">
            <h4>CONTACT US</h4>
              <span class="footer-info">(919) 684-5114<br>
              help@daa.duke.edu<br><br>
              <a href="https://alumni.duke.edu/" title>Duke Alumni Association</a><br>
              <a href="https://alumni.duke.edu/magazine">Duke Magazine</a>
            </span>
          </accordion>

          <accordion class="footer-menu mb-section">
            <h4>CONNECT WITH US</h4>
            <div class="footer-info">
            <div class="social">
            <a href="https://www.instagram.com/dukealumni/" target="_blank">
                <i class="fa fa-instagram fa-2x"></i>
                <span class="element-invisible">Instagram</span>
              </a>
              <a href="https://twitter.com/dukealumni" target="_blank">
                <i class="fa fa-twitter-square fa-2x"></i>
                <span class="element-invisible">Twitter</span>
              </a>
              <a href="https://www.facebook.com/dukealumni" target="_blank">
                <i class="fa fa-facebook-square fa-2x"></i>
                <span class="element-invisible">Facebook</span>
              </a>
            </div>
              <span>Follow us & use <strong>#HelloKarsh</strong><br> to share your KAVC with us!</span>
            </div>
          </accordion>

        </div>
      </div>
    </section>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="src/js/main.js"></script>

  </body>
</html>
