@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


html, body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

body,
td,
th,
p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #fff;
}

main {
  /* max-width: 980px; */
  /* width: 90%; */
  /* margin: 0 auto;
  border: 1px solid #000; */
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fff;
  /* text-decoration: underline; */
}

img, embed, object, video {
  max-width: 100%;
}

nav a, button {
  min-width: 48px;
  min-height: 48px;
}

h1 {
  font-family: 'Playfair Display', Garamond, Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  font-weight: 400;
  font-size: 33px;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Playfair Display', Garamond, Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-transform: uppercase;
  line-height: .7;
  text-align: center;
  font-weight: 600;
}

h3 {
  font-family: "Quicksand", sans-serif;
  color: #6e6f71;
  font-size: 22px;
}

h4 {
  font-family: 'Playfair Display', Garamond, Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  color: #062A4E;
  font-size: 24px;
  text-transform: uppercase;
}

h5 {
  font-family: "Quicksand", sans-serif;
  color: #98999b;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.vt-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  margin: 0;
  font-size: .6875rem;
  line-height: 1;
  letter-spacing: .1875rem;
  text-transform: uppercase;
  padding: 1.125rem 1.875rem;
  border: .3125rem solid #1D6363;
  background: #1D6363;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
  transition: all .3s ease-in-out;
  background: #1D6363;
  border-color: #1D6363;
  color: #fff;
  display: inline-block;
}

.vt-button:hover {
  background: #A1B70D;
  border-color: #A1B70D;
  color: #001a57;
}

/* ====================== Accessibility ====================== */

label {
  display: none;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
}


/* ====================== Navigation ====================== */

header {
  width: 100%;
  /* min-height: 56px; */
  text-align: center;
  position: relative;
  z-index: 20;
}

header h1 {
  margin: auto;
}

header h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #101820;
  padding-left: 30px;
  padding-right: 30px;
}

#main-nav ul {
  float: right;
  padding-left: 0;
}

.nav li {
  list-style: none;
  display: inline-block;
}

.nav .link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  opacity: .7;
  margin: 0 10px;
}

.nav .link:hover,
.footer-info a:hover {
  opacity: 1;
}

#logo {
  float: left;
  font-family: 'EB Garamond', serif;
  margin: 20px 0;
}

#logo img {
  height: 16px;
}

.blocks {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.blocks:nth-child(1) {
  background: #012169;
}
.blocks:nth-child(2) {
  background: #062A4E;
}
.blocks:nth-child(3) {
  background: #062A4E;
  /* background: #e6dbae; */
}
.blocks:nth-child(4) {
  background: #e6dbae;
}
.blocks:nth-child(5) {
  background: #E5E5E5;
}

.sec-container {
  margin-top: 100px;
  position: relative;
  padding-bottom: 20px;
}

#sec1 {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  /* background: rgba(0, 0, 0, 0.5); */
}

#sec1 {
  background-size: cover !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#sec1:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 10;
}

#sec1 p {
  color: #e6dbae;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

#sec1 p:last-child {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 3em auto;
  padding: 0;
  letter-spacing: 0.1rem;
}


#sec1 p:last-child > a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in;
}

#sec1 p:last-child > a:hover {
  color: #fff;
}

#sec1 section {
  color: #fff;
  margin: 0 auto;
  line-height: 40px;
  font-size: 1rem;
  font-weight: 700;
}

#sec1 section ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
}

#sec1 section ul li {
  display: inline-block;
  margin-right: 2rem;
  width: 6rem;
}

#sec1 section .timenumbers {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

#sec1 section p.timedescription {
  font-size: 0.5rem;
  font-variant: small-caps;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 0px;
}

.intro-copy {
  width: 70%;
  margin: 0 auto 50px auto;
}

.intro-copy p {
  line-height: 1.5;
  font-size: 17px;
}

#sec2 {
  min-height: auto;
}

#sec2 .sec-container {
  padding: 25px;
  text-align: center;
  margin: 50px auto;
}

#sec2 h2 {
  margin-bottom: 25px;
  font-weight: 400;
}

#sec2 h3 {
  color: #e6dbae;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
  font-weight: 400;
  letter-spacing: 2.5px;
}

/* SCROLL ARROW */
@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0;
  }
}

#section-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

#section-arrow h2 {
  text-align: center;
  color: #fff;
  margin: 0;
}

#arrow-down {
  position: relative;
  margin: 0 auto;
  text-align: center;
  animation: jump 5s infinite;
}

#arrow-down i {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 40px;
}

#arrow-down i:hover {
  color: #fff;
}

#section-arrow a {
  color: #fff;
}

#countdown-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 24px;
  height: 100%;
  position: relative;
  text-align: center;
  top: 33%;
  z-index: 20;
}

.title {
  color: white;
  font-family: 'Playfair Display', Garamond, Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 10px;
  line-height: .7;
}

.title span {
  font-size: 3rem;
  cursor: pointer;
  font-weight: 600;
}

.title:hover {
  -webkit-animation: MISSION-HOVER 1.5s infinite;
  animation: MISSION-HOVER 1.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes MISSION-HOVER {
  0%,
                    100% {
    font-size: 4rem;
    color: white;
  }
  50% {
    color: #bffcff;
    letter-spacing: 5px;
    text-shadow: 0px 0px 30px #bffcff;
  }
}

#todo h3,
#social h3 {
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 16px;
}

#social h3 {
  color: #e6dbae;
  margin-bottom: 40px;
}

#todo,
#timeline {
  width: 100%;
  padding: 20px;
  align-items: center;
}

#todo h2,
#timeline h2 {
  margin-bottom: 20px;
  color: #1D6363;
}

#todo p,
#timeline p {
  text-align: center;
  color: #000;
}

/* div.to-do {
  width: 300px;
  margin: 40px auto auto auto;
}

.to-do p {
  border-top: 2px dashed;
  border-color: #1D6363 !important;
  margin:0; padding: 30px;
  counter-increment: section;
  position: relative;
}



.to-do p:nth-child(even):before {
  content: counter(section);
  right: 100%;
  margin-right: -15px;
  position: absolute;
  border-radius: 50%;
  padding: 4px;
  height: 30px;
  width: 30px;
  background-color: #1D6363;
  text-align:center;
  color: white;
  font-size: 110%;
}

.to-do p:nth-child(odd):before {
  content: counter(section);
  left: 100%;
  margin-left: -15px;
  position: absolute;
  border-radius: 50%;
  padding: 4px;
  height: 30px;
  width: 30px;
  background-color: #1D6363;
  text-align:center;
  color: white;
  font-size: 110%;
}



.to-do p:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.to-do p:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.to-do p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.to-do p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
} */




.container {
  box-sizing: content-box;
  padding: 0 12px;
  max-width: 750px;
  margin: 48px auto;
}

.step-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.step-list__item {
  counter-increment: step-counter;
  position: relative;
}

.step-list__item:before {
  content: counter(step-counter);
  font-weight: 300;
  color: #1D6363;
}

.step-list__item h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.step-list__item .icon {
  border-radius: 50%;
  display: block;
  flex: 0 0 auto;
}

.step-list__item .icon img {
  width: 100%;
  height: 100%;
}

.step-list__item .body {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.step-list__item .content {
  display: flex;
  flex-direction: row;
  padding-bottom: 18px;
}

.step-list__item:first-child .icon {
  background: #f4f6d5;
}

.step-list__item:nth-child(2) .icon {
  background: #e8f4f3;
}

.step-list__item:nth-child(3) .icon {
  background: #ededed;
}

.step-list__item:nth-child(4) .icon {
  background: #edf6ef;
}

.step-list__item:nth-child(5) .icon {
  background: #fef3f3;
}

.step-list__item:nth-child(odd) .content {
  justify-content: flex-start;
}

.step-list__item:nth-child(even) .content {
  justify-content: flex-end;
}

.step-list__item:first-child > .step-list__item__inner:before {
  content: none;
}

.step-list__item:last-child > .step-list__item__inner:after {
  content: none;
}

.step-list__item + li {
  margin-top: 84px;
}

.step-list__item + li > div {
  margin-top: -1px;
}

@media screen and (max-width: 600px) {

  .step-list__item {
    display: flex;
  }
  .step-list__item:before {
    content: counter(step-counter);
    position: relative;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    color: #000000;
    margin-right: 12px;
  }
  .step-list__item .icon {
    order: 0;
    width: 36px;
    height: 36px;
    padding: 9px;
    position: absolute;
    left: -9px;
    top: 42px;
  }
  .step-list__item .body {
    order: 1;
    margin-top: 8px;
    margin-left: 12px;
  }
  .step-list__item .content {
    align-items: flex-start;
  }
  .step-list__item .content:before {
    content: '';
    position: absolute;
    border-left: #1D6363;
    height: 100%;
    left: 9px;
    bottom: 0;
    display: block;
    width: 1px;
    background: #1D6363;
    top: 84px;
  }
  .step-list__item:last-child .content:before {
    content: none;
  }
}

@media screen and (min-width: 601px) {
  .step-list__item:before {
    content: counter(step-counter);
    position: absolute;
    font-size: 90px;
    line-height: 1;
    font-weight: 300;
    color: #1D6363;
  }
  .step-list__item .icon {
    width: 174px;
    height: 174px;
    padding: 48px;
  }
  .step-list__item .body {
    flex: 0 1 33.3333%;
    margin-top: 84px;
  }
  .step-list__item .content {
    align-items: flex-end;
  }
  .step-list__item > .step-list__item__inner {
    position: relative;
  }
  .step-list__item > .step-list__item__inner:before, .step-list__item > .step-list__item__inner:after {
    border-width: 0px;
    border-style: solid;
    border-color: #1D6363;
    display: block;
    content: '';
    position: absolute;
    height: 42px;
    width: calc( 33.3333% - 42px );
  }
  .step-list__item:nth-child(odd) > .step-list__item__inner {
    text-align: right;
  }
  .step-list__item:nth-child(odd) > .step-list__item__inner:before, .step-list__item:nth-child(odd) > .step-list__item__inner:after {
    border-left-width: 1px;
    left: calc( 33.3333% - 21px );
  }
  .step-list__item:nth-child(odd) > .step-list__item__inner:before {
    border-top-width: 1px;
    border-top-left-radius: 42px;
    margin-top: -42px;
  }
  .step-list__item:nth-child(odd) > .step-list__item__inner:after {
    border-bottom-width: 1px;
    border-bottom-left-radius: 42px;
    margin-bottom: -42px;
  }
  .step-list__item:nth-child(odd):before {
    left: 0;
    margin-left: 33.3333%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .step-list__item:nth-child(odd) .icon {
    margin-left: 72px;
  }
  .step-list__item:nth-child(even) > .step-list__item__inner:before, .step-list__item:nth-child(even) > .step-list__item__inner:after {
    border-right-width: 1px;
    right: calc( 33.3333% - 21px );
  }
  .step-list__item:nth-child(even) > .step-list__item__inner:before {
    border-top-width: 1px;
    border-top-right-radius: 42px;
    margin-top: -42px;
  }
  .step-list__item:nth-child(even) > .step-list__item__inner:after {
    border-bottom-width: 1px;
    border-bottom-right-radius: 42px;
    margin-bottom: -42px;
  }
  .step-list__item:nth-child(even):before {
    right: 0;
    margin-right: 33.3333%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .step-list__item:nth-child(even) .icon {
    margin-right: 72px;
  }
  .step-list__item:nth-child(even) .body {
    order: 1;
  }
}


/* END THINGS TO DO */

/* TIMELINE section 3 */
#timeline {
  background: #1D6363;
}

#timeline h2 {
  color: #e6dbae
}

.history-tl-container {
  width: 50%;
  margin: auto;
  display: block;
  position: relative;
}

.history-tl-container ul.tl {
  margin: 50px 0;
  padding: 0;
  display: inline-block;
}

.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 115px;
  min-height: 50px;
  border-left: 1px dashed #e6dbae;
  padding: 0 0 50px 30px;
  position: relative;
}

.history-tl-container ul.tl li:last-child {
  border-left:0;
  padding-bottom: 10px;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -10px;
  top: -5px;
  content: " ";
  border: 8px solid #062A4E;
  border-radius: 500%;
  background: #e6dbae;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
  border-color: #e6dbae;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {
  color: #e6dbae;
}

ul.tl li .item-detail {
  color: #e6e6e6;
  font-size: 12px;
}

ul.tl li .timestamp {
  color: #e6e6e6;
  position: absolute;
  width:100px;
  left: -30%;
  text-align: right;
  font-size: 14px;
}

#timelapse-video {
  text-align: center;
}

/* END TIMELINE section 3 */

/* TRIVIA CARDS */
#trivia [class*='row-'] {
  text-align: center;
  margin-bottom: 25px;
}

#sec4 .back {
  background: #E5E5E5;
}

#sec4 h2 {
  margin: 40px 0;
  color: #000;
}

#sec4 p {
  color: #000;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  margin: 25px;
  box-shadow: 11px 11px 42px -17px #000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 350px;
	height: 480px;
  display: inline-block;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  /* background: rgba(0, 0, 0, .4); */
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.box {
  padding: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Playfair Display', Garamond, Georgia, 'Times New Roman', Times, serif;
  text-shadow: 0.1em 0.1em 0.05em #000;
  position: relative;
}

.overlay:after {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background: rgba(0, 0, 0, .4);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.back p {
  padding: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
}

/* END TRIVIA CARDS */


#social {
  background: #062A4E;
}

#social h2 {
  font-weight: 400;
}

#social .sec-container {
  padding-bottom: 50px;
}

/* FOOTER */
footer {
  /* position: fixed; */
  left: 1.875rem;
  right: 1.875rem;
  bottom: 0;
  /* text-transform: uppercase; */
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  transform: translateZ(0);
  transition: all .3s ease-in-out;
  transition-delay: .3s;
}

.footer-links,
.footer-links-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer-links {
  -ms-flex-pack: center;
  justify-content: center;
  background: #101820;
  color: #E5E5E5;
  padding: 4rem 1rem 6rem;
}

.footer-links-inner {
  width: 90%;
  justify-content: center;
}

footer .left {
  max-width: 20rem;
  width: 30%;
}

footer .right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 70%;
}

.footer-info a:hover {
  text-decoration: underline;
}

footer .footer-menu {
  position: relative;
  display: block;
  -ms-flex: 1;
  flex: 1;
  /* padding: 0 2rem 0 0; */
}

.footer-menu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.375rem;
    height: .25rem;
    background: hsla(0,0%,100%,.2);
}

footer .social {
  margin-bottom: 5px;
}

footer .social a {
  color: #E5E5E5;
  margin-right: 2px;
}

footer span {
  font-size: 14px;
  font-weight: 300;
}

footer h4 {
  font-family: "Quicksand", sans-serif;
  color: #e6dbae;
  font-size: 14px;
  font-weight: 500;
}
